
#root {
    background-color: beige;

}

.top {
    height: 60px;
    line-height: 60px;
    background-color: rgb(244,143,127);
}

#title {
    font-family:sans-serif;
    text-align: center;
    vertical-align: middle;
    color:white;
    font-size: 30px;
}

#content {
    background-color: beige;
    padding-top:10px;
    height: 600px;
}

#timer {
    text-align: center;
    color: rgb(244,143,127);

}
